.wrapper {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.parent {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px;
}
.editIcon {
	position: absolute;
	top: 5%;
	right: 5%;
	cursor: pointer;
}
.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.infoBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 18px;
}
