.wrapper {
	text-align: center;
	border: none;
	background: none;
	font-size: 16px;
	font-weight: 800;
	color: aliceblue;
	cursor: pointer;
	min-width: 70px;
}

.wrapper:hover {
	color: aqua;
	transition: 0.5s ease-in-out;
}

@media (max-width: 767px) {
	.wrapper {
		font-size: 10px;
		min-width: 45px;
	}
}
