.header {
	font-size: 24px;
	font-weight: 800;
	color: darkblue;
}
.modal {
	height: auto;
}
.closeModal {
	position: absolute;
	font-size: 24px;
	top: 8px;
	right: 16px;
	cursor: pointer;
}

.wrapperBlock {
    height: 100%;
    padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.btn {
    margin-top: 30px;
}
