.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	height: 100vh;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(33, 33, 33, 0.7);
}
.wrapperBlock {
	/* width: 20%; */
	min-width: 400px;
	height: 36%;
	min-height: 460px;
	padding: 0 20px;
	position: relative;
	border: 3px grey solid;
	background-color: whitesmoke;
}

@media (max-width: 760px) {
	.wrapperBlock {
		min-width: 300px;
	}
}
