.wrapper {
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 40px;

	display: flex;
	justify-content:center;
	text-align: center;
	align-items: center;

	color: aliceblue;
	background-color: rgb(29, 32, 55);
	font-size: 26px;
}

.title {
	font-size: 32px;
	font-weight: 600;
	color: aliceblue;
}

.toggleMenu {
	position: absolute;
	top: 20%;
	left: 20px;
	cursor: pointer;
	transition: 0.3s linear;
}

.toggleMenu:hover {
	color: rgb(114, 113, 113);
}

.loginBlock {
	position: absolute;
	top: 10%;
	right: 20px;
}

.headerLink {
	color: inherit;
}

@media (max-width: 767px) {
	.wrapper {
		height: 50px;
		padding: 0 20px;
	}
	.toggleMenu{
		top: 10%;
	}
	.title {
		font-size: 14px;
	}
	.loginBlock{
		right: 6px;
	}
	.loginBlockEnter {
		display: flex;
		flex-direction: column;
	}
}
