.modalWrapper {
	padding: 20px 0;
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}
.closeModal {
	position: absolute;
	font-size: 24px;
	top: 8px;
	right: 16px;
	cursor: pointer;
}
.modalHeader {
	color: darkblue;
	font-size: 28px;
	font-weight: 700;
}

.confirmEmail {
	color: green;
	font-weight: 700;
	margin-top: 10px;
	padding: 0 20px;
}
.buttonBlock{
	display: flex;
	justify-content: space-between;
}
