.wrapper {
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 40px;

	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;

	color: aliceblue;
	background-color: rgb(29, 32, 55);
	font-size: 26px;
}

.title {
	font-size: 32px;
	font-weight: 600;
}

.toggleMenu {
	cursor: pointer;
	transition: 0.3s linear;
	margin-right: 60px;
	width: 24px;
}

.toggleMenu:hover {
	color: rgb(114, 113, 113);
}

@media (max-width: 767px) {
	.wrapper {
		height: 50px;
		justify-content: flex-end;
	}
	.title {
		font-size: 14px;
	}
}

.loginBlock {
    width: 126px;
	display: flex;
    justify-content: end;
	align-items: center;
	text-align: center;
	margin-right: -20px;
}
